<div id="resultsArea" class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>Result</div>
    <div class="result">
        <div id="numberResult" class="series"></div>
        <div id="timeStamp"></div>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>Number Bounds</div>
    <div class="slidersContainer">
        <div x-mojo-element="Slider" id="lowerBoundSlider"></div>
        <div x-mojo-element="Slider" id="upperBoundSlider"></div>
    </div>

    <div class="twoSectionContainer">
        <div class="palm-group oneSection">
        <div class="palm-group-title" x-mojo-loc=''>Minimum</div>
           <div class="palm-list">
                 <div class="palm-row single">
                 <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                       <div x-mojo-element="TextField" id="lowerBoundField"></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        
        <div class="palm-group oneSection">
            <div class="palm-group-title" x-mojo-loc=''>Maximum</div>
            <div class="palm-list">
                 <div class="palm-row single">
                 <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                       <div x-mojo-element="TextField" id="upperBoundField"></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </div>
</div>

<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Options</div>
	<div class="palm-list">
		<div class="palm-row clear-container">
			<div x-mojo-element="IntegerPicker" id="seriesSize" style="float: right"></div>
			<div x-mojo-loc="" class="title leftCaption" >
				Size of Generated Series
			</div>
		</div>
		<div class="palm-row clear-container last">
			<div x-mojo-element="ToggleButton" id="allowDuplicates"></div>
			<div x-mojo-loc="" class="title leftCaption" >
				Duplicate Numbers
			</div>
		</div>
	</div>
</div>

<div class="twoSectionContainer">
    <div x-mojo-element="Button" class="oneSectionButton" id="generateButton"></div>
    <div x-mojo-element="Button" class="oneSectionButton" id="resetButton"></div>
</div>